input.tamano_20_c
{
    width: 142px !important;
}

input.tamano_27_c
{
    width: 215px !important;
}


input.tamano_25_c
{
    width: 180px !important;
}

input.tamano_10_c
{
    width: 75px !important;
}

input.tamano_16_c
{
    width: 150px !important;
}

input.tamano_32_c
{
    width: 225px !important;
}
input.tamano_40_c
{
    width: 280px !important;
}
input.tamano_50_c
{
    width: 351px !important;
}

input.tamano_60_c
{
    width: 480px !important;
}

input.tamano_70_c
{
    width: 490px !important;
}

input.tamano_4_c
{
    width: 33px !important;
}
input.tamano_4_c_1
{
    width: 31px !important;
}
input.tamano_3_c
{
    width: 24px !important;
}
input.tamano_3_c_1
{
    width: 16px !important;
}

input.tamano_5_c
{
    width: 44px !important;
}
input.tamano_5_c_1
{
    width: 36px !important;
}

input.tamano_6_c
{
    width: 46px !important;
}

input.tamano_9_c
{
    width: 70px !important;
}
input.tamano_9_c_1
{
    width: 72px !important;
}

input.tamano_8_c_1
{
    width: 65px !important;
}


input.tamano_2_c
{
    width: 20px !important;
}
input.tamano_1_c
{
    width: 9px !important;
}

.created_at{
    width: 181px !important;
}
.description{
    width: 281px !important;
}
.hdr-desc{width: 201px !important;}
.block{ display: inline-block; vertical-align: top;}
.action{ width: 60px !important;}
.hdr-100{width: 130px !important}
