#content_home{
    margin: 0 40px;
    padding: 0 20px;
}

#table_login/*23-4-013*/ {
/*    border: 1px solid black;*/
    padding: 10px;
    width: 600px;
    float: left;
    margin-left:20px;
    margin-top: 20px;
}
#table_login .title {
	font-weight: bold;	
	margin-bottom:20px;
	font-size:18px;
}
.login_access {
    width: 487px;
/*    border: 1px solid black;*/
    margin: auto;
    padding: 10px;
}

.login_access h3 {
    margin: auto;
    width: 170px;
    font-weight: bold;
    text-decoration: underline;
}

.login_access label {
    width: 150px;
    float: left;
}

.login_access input {
    float: right;
}

.clear {
    clear: both;
}

.login_input {
    margin: 10px;
}

.forgot {
    float: right;
}

.remember {
    float: right;
    width: 160px;
    clear: both;
    margin-top: 10px;
}

#signin_remember {
    float: left;
    margin: 3px 3px 0px 0px;
}

.separate_line {
    border-bottom: 1px solid black;
    width: 380px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_create {
    width: 400px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
	margin-bottom:20px;
}
.login_create span.boton {
	margin:auto;
	width:130px;
	display:block;
	margin-top:10px;
} 
.login_create .button {
	background: transparent url('../images/button-design.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    
    text-decoration: none;
	width:150px;
	text-align:center;
	padding-top:4px;
}

.login_create .button:hover {
    background-position: top left;    
}

.login_create .button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 


.tr_alto_user{
    height: 20px;
}



